body {
    font-family: 'Tajawal', sans-serif;
    direction: rtl;
    text-align: center;
    margin: 0;
    padding: 0;
    padding-bottom: 100px;
    background: #f7f9fc;
    color: #333;
}
h1 {
    margin: 20px;
    font-size: 2rem;
    color: #2c3e50;
}
#subject-header {
    background-color: #2c3e50;
    color: white;
    border-radius: 15px;
    cursor: pointer;
    display: none;
}
#lesson-title {
    display: none;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 15px;
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
}
.grid-item {
    display: flex; /* استخدام flexbox */
    justify-content: center; /* محاذاة النص أفقيًا */
    align-items: center; /* محاذاة النص رأسيًا */
    padding: 20px;
    text-align: center;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    height: 80px; /* تثبيت ارتفاع المربعات */
}
.grid-item:hover {
    background-color: #2c3e50;
    color: #ffffff;
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
#lesson-buttons {
    margin-top: 20px;
    display: none;
}
#media-container {
    position: relative;
    margin-top: 20px;
    display: none;
    padding: 0 10px;
    max-width: 1000px;
    margin: auto;
}
iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.vid-cont {
    position: relative;
    width: 90%;
    padding-top: 56.25%;
    margin: auto;
}
audio {
    width: 90%; /* بنفس عرض الفيديو */
    margin-top: 10px;
    outline: none;
}
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background: #2c3e50;
    color: #fff;
    font-size: 0.9rem;
}
.voice-speed {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-around;
    flex-wrap: wrap;
}
.voice-speed a {
    padding: 6px 30px;
    margin: 0.5rem 0.4rem;
    color: #000;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    border: 1px solid #33557c;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .3rem;
    text-decoration: none;
    font-weight: bold;
    transition: all .5s;
    text-transform: capitalize;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
}
a:hover {
    background-color: #2c3e50;
    color: #fff;
    font-size: 1.03rem;
}
